---
import { projects } from '../../data/projects';
import ProjectShowcase from '../svelte/ProjectShowcase.svelte';
---

<section id="projects" class="section projects">
  <div class="container">
    <h2 class="section-title reveal">Mis <span>Proyectos</span></h2>
    <ProjectShowcase client:load {projects} />
  </div>
</section>
